.geo-parent {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  align-items: flex-end;
}

.single-terrain_parent {
  display: flex;
  /* margin: 0 1px; */
  flex-direction: column;
  justify-content: flex-end;
}

.terrain-bit {
  display: block;
  width: 1rem;
  height: 1rem;
  /* margin-top: 1px; */
  background-color: rgb(68, 62, 62);
}

.--blue {
  background-color: rgb(0, 106, 226);
}